@model TISS_Web.Models.ArticleViewModel
@{
    Layout = "~/Views/Shared/_TissMaster.cshtml";
    var isLoggedIn = Session["LoggedIn"] != null && (bool)Session["LoggedIn"];
    var parentDirectory = ViewBag.ParentDirectory as string;
    var menuItems = ViewBag.ParentMenu as Dictionary<string, List<string>>;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>@ViewBag.Article</title>
    <link href="~/site/css/ViewArticleBtnStyle.css" rel="stylesheet" />
    <link href="~/site/css/ViewArticle.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="~/tinymce/js/tinymce/langs/zh_TW.js"></script>
    <link href="~/site/css/hashTagStyle.css" rel="stylesheet" />
    <script src="~/bootstrap/js/bootstrap.js"></script>
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6Lezbh4qAAAAADX1XDuddC9SwZpc1KsA5MMVE2O1"></script>
    <script>
        function onSubmit(token) {
            document.getElementById("msg").submit();
        }

        function handleFormSubmit(event) {
            event.preventDefault();
            grecaptcha.enterprise.execute('6Lezbh4qAAAAADX1XDuddC9SwZpc1KsA5MMVE2O1', { action: 'submit' }).then(function (token) {
                document.getElementById("g-recaptcha-response").value = token;
                document.getElementById("msg").submit();
            });
        }

        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById("msg");

            form.addEventListener("submit", function (event) {
                const commentText = document.querySelector('#commentText').value;
                const suspiciousPattern = /<script|<\/script|iframe|onerror|onload|%3C/i;

                if (suspiciousPattern.test(commentText)) {
                    alert("留言中包含可疑內容，請重新檢查。");
                    event.preventDefault();
                    return;
                }

                // reCAPTCHA 驗證處理
                event.preventDefault(); // 先攔下預設送出
                grecaptcha.enterprise.execute('6Lezbh4qAAAAADX1XDuddC9SwZpc1KsA5MMVE2O1', { action: 'submit' }).then(function (token) {
                    document.getElementById("g-recaptcha-response").value = token;
                    form.submit(); // 驗證成功再送出
                });
            });
        });
    </script>
</head>
<body>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v10.0" nonce="xyz">
    </script>
    <!-- 隱藏的訊息元素，用於顯示保存成功訊息 -->
    <div id="successMessage" style="display: none; color: green; font-size: 18px; text-align: center; margin-top: 20px;">
        文章修改成功！
    </div>
    <div class="container-fluid px-0 mt-header">
        <div class="BasePageLayout">
            <div class="BasePageBanner">
                <div class="Mask"></div>
                <img class="PageBannerItemBg" src="/site/img/banner_research.25875290.jpg" alt="" />
            </div>
            <section class="el-container">
                <aside class="el-aside" aria-labelledby="sidebar-title">
                    <h1 id="sidebar-title" class="sr-only">功能區塊</h1>
                    <div class="BaseBreadcrumb d-block d-lg-none">
                        <div class="container">
                            <div class="el-breadcrumb" aria-label="Breadcrumb" role="navigation">
                                <span class="el-breadcrumb__item">
                                    <a class="el-breadcrumb__inner" role="link" style="color:black" href="/Tiss/Home">首頁</a>
                                    <i class="fa-solid el-breadcrumb__separator fa-greater-than fa-xs" style="color: #44afe4;"></i>
                                </span>
                                @if (ViewBag.ParentDirectory != null)
                                {
                                    <span class="el-breadcrumb__item">
                                        <span class="el-breadcrumb__inner" style="color:black">@ViewBag.ParentDirectory</span>
                                        <i class="fa-solid el-breadcrumb__separator fa-greater-than fa-xs" style="color: #44afe4;"></i>
                                    </span>
                                }
                                <span class="el-breadcrumb__item current-page" aria-current="page">
                                    <span class="el-breadcrumb__inner" style="color:black">@Html.Raw(Model.Article.Title)</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content" aria-live="polite">
                        <a href="#L" title="左方功能區塊" accesskey="L" name="L" class="alt-c" style="margin-left: 100px;">:::</a>
                        @if (!string.IsNullOrEmpty(parentDirectory))
                        {
                            <div class="Title">@parentDirectory</div>
                            <ul class="Menu">
                                @foreach (var item in ViewBag.MenuUrls)
                                {
                                    <li span="3">
                                        <a class="MenuLink" href="@item.Value">@item.Key</a>
                                    </li>
                                }
                                @if (isLoggedIn)
                                {
                                    <li span="3">
                                        <a class="MenuLink" href="/Article/ArticleCreate" style="color:orange">新增文章</a>
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                </aside>

                <main class="el-main bg-defaultO4">
                    <div class="MainContainer" aria-live="polite">
                        <div id="main_content">
                            <div class="ArticleContent" id="Ca">
                                <a href="#Ca" title="中央內容區塊" accesskey="C" name="C" id="jump-to-Ca" class="alt-c">:::</a>
                                <div class="BaseBreadcrumb d-none d-lg-block">
                                    <div class="container">
                                        <div class="el-breadcrumb" aria-label="Breadcrumb" role="navigation">
                                            <span class="el-breadcrumb__item">
                                                <a class="el-breadcrumb__inner" role="link" style="color:black" href="/Tiss/Home">首頁</a>
                                                <i class="fa-solid el-breadcrumb__separator fa-greater-than fa-xs" style="color: #44afe4;"></i>
                                            </span>
                                            @if (ViewBag.ParentDirectory != null && ViewBag.CurrentSubDirectory != null)
                                            {
                                                <span class="el-breadcrumb__item">
                                                    <span class="el-breadcrumb__inner" style="color:black">@ViewBag.ParentDirectory</span>
                                                    <i class="fa-solid el-breadcrumb__separator fa-greater-than fa-xs" style="color: #44afe4;"></i>
                                                </span>
                                                <span class="el-breadcrumb__item">
                                                    <a class="el-breadcrumb__inner" role="link" style="color:black">@ViewBag.CurrentSubDirectory</a>
                                                    <i class="fa-solid el-breadcrumb__separator fa-greater-than fa-xs" style="color: #44afe4;"></i>
                                                </span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ResearchPage">
                                <div class="HeadInfo">
                                    <div class="HeadInfoItem">@ViewBag.FormattedPublishedDate</div>
                                    <div class="HeadInfoItem">
                                        @if (ViewBag.DisplayHashtags != null && ViewBag.DisplayHashtags.Count > 0)
                                        {
                                            foreach (var hashtag in ViewBag.DisplayHashtags)
                                            {
                                                <span class="el-tag el-tag--light">
                                                    <span class="el-tag__content">@hashtag</span>
                                                </span>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="NewsToolBar">
                                    <div class="NewsParams">
                                        <div class="NewsParamsItem">
                                            <span>
                                                <i class="fa-solid fa-eye"></i>
                                            </span>
                                            <span>@Model.Article.ClickCount</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="NewsContent">
                                    <div class="ContentBox">
                                        <div>
                                            @if (isLoggedIn)
                                            {
                                                <!-- 標題 -->
                                                <form method="post" action="@Url.Action("EditArticle", "Article")" enctype="multipart/form-data">
                                                    @Html.AntiForgeryToken()
                                                    @Html.HiddenFor(model => model.Article.Id)
                                                    @Html.HiddenFor(model => model.Article.ContentType)
                                                    <div class="form-group mb-4">
                                                        <label for="ArticleTitle" style="font-size:25px">文章標題</label>
                                                        @Html.TextBoxFor(model => model.Article.Title, new { @id = "ArticleTitle", @class = "form-control", placeholder = "輸入文章標題" })
                                                    </div>
                                                    <!-- 內容 -->
                                                    <div class="form-group">
                                                        <label for="ContentBody">內容:</label>
                                                        @Html.TextAreaFor(model => model.Article.ContentBody, new { @id = "ContentBody", @class = "form-control", rows = 5, placeholder = "輸入文章內容" })
                                                    </div>

                                                    <div class="form-group mb-4">
                                                        <label for="ContentType" style="font-size:25px">文章發佈類別</label>
                                                        @Html.DropDownList("ContentTypeId", (SelectList)ViewBag.Categories, "請選擇文章發佈類別", new { @class = "form-control" })
                                                    </div>

                                                    <div class="form-group mb-4">
                                                        <label for="Tag" style="font-size:25px">文章標籤</label>
                                                        @Html.ListBox("tags", (MultiSelectList)ViewBag.Hashtags, new { @class = "form-control", multiple = "multiple" })
                                                    </div>
                                                    <!-- 類別下拉選單 -->
                                                    <div class="form-group mb-4">
                                                        <label for="categorySelector" style="font-size: 25px">文件檔案分類(檔案歸檔分類)</label>
                                                        <select id="categorySelector" name="documentCategory" class="form-control">
                                                            <option value="Press" @(ViewBag.SelectedCategory == "Press" ? "selected" : "")>新聞發佈</option>
                                                            <option value="Institute" @(ViewBag.SelectedCategory == "Institute" ? "selected" : "")>中心訊息</option>
                                                            <option value="Recruitment" @(ViewBag.SelectedCategory == "Recruitment" ? "selected" : "")>徵才招募</option>
                                                            <option value="Achievement" @(ViewBag.SelectedCategory == "Achievement" ? "selected" : "")>中心成果</option>
                                                            <option value="News" @(ViewBag.SelectedCategory == "News" ? "selected" : "")>新聞影音</option>
                                                            <option value="Video" @(ViewBag.SelectedCategory == "Video" ? "selected" : "")>活動紀錄</option>
                                                            <option value="CommissionedResearchProject" @(ViewBag.SelectedCategory == "CommissionedResearchProject" ? "selected" : "")>委託研究計畫</option>
                                                            <option value="SportScience" @(ViewBag.SelectedCategory == "SportScience" ? "selected" : "")>運動科學</option>
                                                            <option value="SportTech" @(ViewBag.SelectedCategory == "SportTech" ? "selected" : "")>運動科技</option>
                                                            <option value="SportMedicine" @(ViewBag.SelectedCategory == "SportMedicine" ? "selected" : "")>運動醫學</option>
                                                            <option value="SportsPhysiology" @(ViewBag.SelectedCategory == "SportsPhysiology" ? "selected" : "")>運動生理</option>
                                                            <option value="SportsPsychology" @(ViewBag.SelectedCategory == "SportsPsychology" ? "selected" : "")>運動心理</option>
                                                            <option value="PhysicalTraining" @(ViewBag.SelectedCategory == "PhysicalTraining" ? "selected" : "")>體能訓練</option>
                                                            <option value="SportsNutrition" @(ViewBag.SelectedCategory == "SportsNutrition" ? "selected" : "")>運動營養</option>
                                                            <option value="ChildrenScience" @(ViewBag.SelectedCategory == "ChildrenScience" ? "selected" : "")>兒少科普</option>
                                                            <option value="SciencePosterDownLoad" @(ViewBag.SelectedCategory == "SciencePosterDownLoad" ? "selected" : "")>科普海報下載專區</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group mb-4">
                                                        <label for="ExpireDate" style="font-size:25px">下架日期 (選填)</label>
                                                        @Html.TextBoxFor(model => model.Article.ExpireDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                                                    </div>

                                                    <div class="form-group mb-4">
                                                        <label for="ImageFile" style="font-size:25px">預覽用圖片</label>
                                                        <input type="file" name="imageFile" id="imageFile" class="form-control-file" />
                                                    </div>

                                                    @if (Model.Article.ImageContent != null)
                                                    {
                                                        string base64Image = Convert.ToBase64String(Model.Article.ImageContent);
                                                        string imageSrc = $"data:image/jpeg;base64,{base64Image}";

                                                        <img src="@imageSrc" alt="預覽圖片" style="width:300px; height:auto;" />
                                                    }
                                                    else
                                                    {
                                                        <p>目前無圖片</p>
                                                    }
                                                    <div class="form-group mb-4">
                                                        <label for="documentFiles" style="font-size:25px" title="附加文件">附加文件：</label>
                                                        <input type="file" name="documentFiles" id="documentFiles" class="form-control-file" multiple />
                                                    </div>
                                                    <!-- 顯示使用者選擇的檔案 -->
                                                    <div class="form-group mb-4">
                                                        <label style="font-size:25px">已選擇的附加文件：</label>
                                                        <ul id="selectedFilesList" class="list-group">
                                                            @if (Model.AssociatedDocuments?.Any() == true)
                                                            {
                                                                foreach (var file in Model.AssociatedDocuments)
                                                                {
                                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                                        <a href="@Url.Action("DownloadFile", "Article", new { documentId = file.DocumentID })" target="_blank">@file.DocumentName</a>
                                                                        <button type="button" class="btn btn-danger btn-sm remove-file" data-id="@file.DocumentID">刪除</button>
                                                                    </li>
                                                                }
                                                            }
                                                        </ul>
                                                    </div>
                                                    <div class="form-group mb-4">
                                                        <label for="DocumentFilePic" style="font-size:25px" title="附加文件">附加圖片：</label>
                                                        <input type="file" name="documentFilePic" id="documentFilePic" class="form-control-file" aria-label="附加圖片" />
                                                    </div>
                                                    <div style="clear: both; margin-top: 10px;">
                                                        <button type="submit" class="btn btn-primary mt-3">保存修改</button>
                                                    </div>
                                                </form>
                                            }
                                            else
                                            {
                                                <div>
                                                    @Html.Raw(Model.Article.ContentBody)
                                                </div>
                                                if (Model.AssociatedDocuments?.Any() == true)
                                                {
                                                    <div class="AssociatedDocuments mt-4">
                                                        <span>相關文件檔案</span>
                                                        @{
                                                            foreach (var file in Model.AssociatedDocuments)
                                                            {
                                                                <div class="DocumentItem" style="margin-bottom: 10px;">
                                                                    <a href="@Url.Action("DownloadFile", "Article", new { documentId = file.DocumentID })"
                                                                       target="_blank" title="@file.DocumentName _檔案下載 @(file.DocumentType == ".pdf" ? "(另開新視窗)" : "")">
                                                                        <strong>@file.DocumentName.Substring(0, file.DocumentName.LastIndexOf('.'))</strong>
                                                                    </a>
                                                                    <span class="el-tag"
                                                                          style="background-color: @(file.DocumentType == ".doc" || file.DocumentType == ".docx" || file.DocumentType == ".odt" ? "blue" :
                                 (file.DocumentType == ".jpg" || file.DocumentType == ".jpeg" || file.DocumentType == ".png" ? "green" : "firebrick"));
            color: white; border-radius: 0; padding: 5px;">
                                                                        @file.DocumentType
                                                                    </span>

                                                                    @(file.DocumentType == ".pdf" ? "(另開新視窗)" : "")
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                }

                                            }
                                        </div>
                                    </div>
                                    <div class="col-auto d-flex justify-content-center" style="margin-top:50px;">
                                        <a href="javascript:history.back();" class="btn btn-outline-primary">
                                            <i class="fa-solid fa-reply"></i> 回列表
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*留言板*@
                    @*<div class="comments-section">
                        <h2>留言區</h2>
                        <button id="toggle-comments" class="btn btn-light">
                            <i class="fa-regular fa-comment-dots fa-2xl" style="color: #1352e7;"></i><span>檢視留言(@ViewBag.CommentCount 則留言)</span>
                        </button>
                        <div id="comments-container" style="display: none;">
                            @foreach (var comment in ViewBag.Comments)
                            {
                                <div class="comment">
                                    <p>
                                        <strong>@comment.UserName</strong> 說：
                                        @comment.CommentText
                                    </p>
                                    <p class="text-muted">@comment.CommentDate</p>

                                    <!-- 顯示回覆 -->
                                    <div class="comment">
                                        @if (comment.ReplyMessage != null && comment.ReplyMessage.Count > 0)
                                        {
                                            <div class="replies">
                                                @foreach (var reply in comment.ReplyMessage)
                                                {
                                                    <div class="reply">
                                                        <p><strong>@reply.UserName</strong>: @reply.ReplyText</p>
                                                        <small>@reply.ReplyDate</small>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>

                                    <!-- 回覆功能 -->
                                    <button class="btn btn-link reply-btn" data-comment-id="@comment.Id">回覆</button>
                                    <div class="reply-form" id="reply-form-@comment.Id" style="display:none;">
                                        <form action="@Url.Action("PostReply", "MessageBoard")" method="post">
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="parentId" value="@comment.Id" />
                                            <input type="hidden" name="articleId" value="@ViewBag.ArticleId" />
                                            <div class="form-group">
                                                <label for="replyName">名稱:</label>
                                                <input id="replyName" class="form-control" name="replyName" required style="width: 800px;" />
                                            </div>
                                            <div class="form-group">
                                                <label for="replyText">回覆:</label>
                                                <textarea id="replyText" class="form-control" name="replyText" required style="width: 800px;"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary">回覆留言</button>
                                        </form>
                                    </div>
                                </div>
                            }
                        </div>
                        <form action="@Url.Action("PostCommentWithCaptcha", "MessageBoard")" method="post" id="msg">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="articleId" value="@ViewBag.ArticleId" />
                            <input type="hidden" id="g-recaptcha-response" name="recaptchaResponse" />

                            <div class="form-group">
                                <label for="userName">名稱:</label>
                                <input type="text" id="userName" class="form-control" name="userName" required style="width: 200px;" />
                            </div>
                            <div class="form-group">
                                <label for="commentText" style="display: inline-block; width: 50px;">留言:</label>
                                <textarea id="commentText" class="form-control" name="commentText" required style="width: 800px;"></textarea>
                            </div>
                            <button type="submit" class="btn btn-success">提交留言</button>
                        </form>
                    </div>*@
                </main>
            </section>
        </div>
    </div>

    @if (isLoggedIn)
    {
        <script>
    $(document).ready(function () {
    var isLoggedIn = '@Session["LoggedIn"]' === 'True';

    if (isLoggedIn) {
        $('#logoutBtn').show(); // 顯示登出按鈕
    } else {
        $('#loginBtn').show(); // 顯示登入按鈕
    }

    if (window.location.pathname === '/Tiss/Home') {
        $('#adminUser').hide(); // 隱藏管理者按鈕
    }
    });
    // 檢查 ViewBag.SuccessMessage 並顯示提示訊息
        document.addEventListener("DOMContentLoaded", function () {
            var successMessage = '@ViewBag.SuccessMessage';
            if (successMessage) {
                document.getElementById("successMessage").style.display = "block";
            }
        });
            document.addEventListener('DOMContentLoaded', function () {
                tinymce.init({
                    selector: '#ContentBody',
                    language: 'zh_TW',
                    plugins: 'preview anchor autolink codesample emoticons image link lists media searchreplace table visualblocks wordcount',
                    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent',

                    // 字體格式選項
                    font_formats: "微軟黑體=Microsoft JhengHei;",

                    // 圖片的檔案選擇器
                    file_picker_callback: function (callback, value, meta) {
                        if (meta.filetype === 'image') {
                            var input = document.createElement('input');
                            input.setAttribute('type', 'file');
                            input.setAttribute('accept', 'image/*');
                            input.onchange = function () {
                                var file = this.files[0];
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    callback(e.target.result, { alt: file.name });
                                };
                                reader.readAsDataURL(file);
                            };
                            input.click();
                        }
                    }
                });
            });
        </script>
    }
<script>
    let isCommentsVisible = false; // 初始化變數，預設為 false
    $('#toggle-comments').click(function () {
        if (isCommentsVisible) {
            $('#comments-container').slideUp();
            $(this).find('span').text('檢視留言(' + @ViewBag.CommentCount + '則留言)');
        } else {
            $('#comments-container').slideDown();
            $(this).find('span').text('隱藏留言');
        }
        isCommentsVisible = !isCommentsVisible;
    });

    document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('form');
        let lastSubmission = localStorage.getItem('lastSubmission');
        const now = new Date().getTime();

        if (lastSubmission && now - lastSubmission < 10000) { // 設置為 10秒
            form.querySelector('button').disabled = true;
            form.querySelector('button').textContent = '請稍後再提交留言';
        } else {
            form.querySelector('button').disabled = false;
        }

        form.addEventListener('submit', function () {
            localStorage.setItem('lastSubmission', new Date().getTime());
        });
    });

    function containsSuspiciousLinks(commentText) {
        const suspiciousPattern = /(http|https):\/\/[^\s]+/g;
        return suspiciousPattern.test(commentText);
    }

    document.querySelector('form').addEventListener('submit', function (event) {
        const commentText = document.querySelector('#commentText').value;

        if (containsSuspiciousLinks(commentText)) {
            alert('留言中包含可疑的連結，請檢查後再提交。');
            event.preventDefault(); // 阻止表單提交
        }
    });

    /*摺疊回覆留言*/
    document.addEventListener("DOMContentLoaded", function () {
        var replyButtons = document.querySelectorAll(".reply-btn");

        replyButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                var commentId = button.getAttribute("data-comment-id");
                var replyForm = document.getElementById("reply-form-" + commentId);
                if (replyForm.style.display === "none") {
                    replyForm.style.display = "block";
                } else {
                    replyForm.style.display = "none";
                }
            });
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
     document.addEventListener("DOMContentLoaded", function () {
        // 取得 Anti-Forgery Token
        const tokenInput = document.querySelector('input[name="__RequestVerificationToken"]');
        const antiForgeryToken = tokenInput ? tokenInput.value : "";

        document.querySelectorAll(".remove-file").forEach(button => {
            button.addEventListener("click", function () {
                const fileId = this.getAttribute("data-id");

                if (confirm("確定要刪除此文件嗎？")) {
                    fetch('@Url.Action("DeleteFile", "Article")', {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "RequestVerificationToken": antiForgeryToken
                        },
                        body: JSON.stringify({ documentId: parseInt(fileId) })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            this.closest("li").remove();
                        } else {
                            alert("刪除失敗：" + data.message);
                        }
                    })
                    .catch(error => {
                        console.error("刪除文件時發生錯誤：", error);
                        alert("刪除時發生錯誤，請稍後再試。");
                    });
                }
            });
        });
    });
});

    // 表單提交時檢查「文件檔案分類」是否已選擇
    document.querySelector("form").addEventListener("submit", function (event) {
        const categorySelector = document.getElementById("categorySelector");

        // 檢查是否選擇了分類
        if (categorySelector.value === "") {
            alert("請選擇文件/圖片檔案分類");
            event.preventDefault(); // 阻止表單提交
        }
    });

    document.addEventListener("DOMContentLoaded", function () {
        var successMessage = '@TempData["SuccessMessage"]';

        if (successMessage && successMessage !== '') {
            Swal.fire({
                icon: 'success',
                title: '成功',
                text: successMessage,
                confirmButtonText: '確定'
            });
        }
    });
</script>
</body>
</html>