@model TISS_Web.Models.ArticleContent
@*@{
        Layout = "~/Views/Shared/_TissMaster.cshtml";
    }*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>發佈文章</title>
    <script src="~/bootstrap/js/bootstrap.js"></script>
    <script src="~/tiny/js/tinymce/tinymce.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/dnrbo5jub3ln0e23awgulturfk1e6nv5h6s4eh16ob30c6jn/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">創建文章</h2>
        @using (Html.BeginForm("ArticleCreate", "Tiss", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group mb-4">
                <label for="Title">標題</label>
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = "輸入文章標題" })
            </div>
            <div class="form-group mb-4">
                <label for="Body">內容</label>
                @Html.TextAreaFor(model => model.ContentBody, new { @class = "form-control", rows = 5, placeholder = "輸入文章內容" })
            </div>
            <div class="form-group mb-4">
                <label for="ContentType">發佈類型</label>
                @Html.DropDownList("ContentType", (SelectList)ViewBag.Categories, "請選擇發佈類型", new { @class = "form-control" })
            </div>
            <div class="form-group mb-4">
                <label for="Tag">文章標籤</label>
                @Html.DropDownList("tag", (SelectList)ViewBag.Hashtags, "請選擇標籤", new { @class = "form-control" })
            </div>
            <div class="form-group mb-4">
                <label for="ImageFile">圖片</label>
                <input type="file" name="imageFile" id="imageFile" class="form-control-file" />
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
        }
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            tinymce.init({
                selector: '#ContentBody', //特定的textarea選擇器
                language: 'zh_TW',
                plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                tinycomments_mode: 'embedded',
                tinycomments_author: 'Author name',
                mergetags_list: [
                    { value: 'First.Name', title: 'First Name' },
                    { value: 'Email', title: 'Email' },
                ],
                ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
            });
        });
    </script>
</body>
</html>