@*@model IEnumerable<TISS_Web.Models.ArticleContentModel>*@
@model TISS_Web.Models.HomeViewModel
@{
    Layout = "~/Views/Shared/_TissMaster.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <script src="~/site/js/Carousel.js"></script>
    <link href="~/site/css/SectionTitleStyle.css" rel="stylesheet" />
</head>
<body>
    <div id="fb-root"></div>
    <div id="app" data-v-app="" class="text-content">
        <div data-v-339da53a="" class="layout">
            <div data-v-339da53a="" class="container-fluid px-0 mt-header">
                <div data-v-339da53a-s="" class="Home">
                    <div class="SectionBanner">
                        @*輪播圖*@
                        <div id="carouselExample" class="carousel slide" data-ride="carousel" style="height: 520px;">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/site/img/about_banner_1.cb027849.jpg" class="d-block w-100" alt="Taiwan Institute of Sports Science">
                                    <div class="carousel-caption d-none d-md-block">
                                        @*<div>Taiwan Institute of Sports Science</div>
                                            <h1 class="main-title">國家運動科學中心</h1>
                                            <p class="content">推動運動科學研究及應用<br>提升國際競技水準與運動產業競爭力</p>*@
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="d-flex justify-content-center">
                                        <img src="~/storage/media/ORS(1).jpg" alt="ORS">
                                        <div class="carousel-caption d-none d-md-block">
                                            @*<div>運動科學中心執行長</div>*@
                                            @*<h1 class="main-title">第二張圖片的副標題</h1>
                                                <p class="content">第二張圖片的描述</p>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="d-flex justify-content-center">
                                        <img src="~/storage/media/MOU簽署-合作學校(1).jpg" alt="MOU學校">
                                        <div class="carousel-caption d-none d-md-block">
                                            @*<div>第三張圖片的標題</div>
                                                <h1 class="main-title">第三張圖片的副標題</h1>
                                                <p class="content">第三張圖片的描述</p>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="d-flex justify-content-center">
                                        <img src="~/storage/media/商品照1.jpg" alt="商品照">
                                        <div class="carousel-caption d-none d-md-block">
                                            @*<div>第四張圖片的標題</div>
                                                <h1 class="main-title">第四張圖片的副標題</h1>
                                                <p class="content">第四張圖片的描述</p>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExample" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExample" data-slide-to="1"></li>
                                    <li data-target="#carouselExample" data-slide-to="2"></li>
                                </ol>*@
                        </div>
                    </div>
                    <div id="about" class="SectionAbout">
                        <div class="container">
                            <div class="el-row row-reverse">
                                <div class="el-col el-col-24 el-col-sm-24 el-col-md-12">
                                    <div class="Content">
                                        @*<div>
                                                <div class="Title">
                                                    <div class="SectionTitle">About TISS</div>
                                                    <div class="SectionSubTitle">
                                                        <img class="icon" src="/site/img/title_icon.64a1ea61.svg" alt="">中心簡介
                                                    </div>
                                                </div>
                                                <p>推動運動科學研究及應用，<br>提升國際運動競爭力</p>
                                                <p class="SubIntro">TO PROMOTE OUR RESEARCH ACHIEVEMENTS IN SPORTS SCIENCE AND TO ENHANCE OUR INTERNATIONAL ATHLETIC COMPETITIVENESS</p>
                                            </div>
                                            <div style="width: 225px;">
                                                <a href="/Tiss/about" class="">
                                                    <button aria-disabled="false" type="button" class="el-button BaseBtn w-100 black" aria-label="btn">
                                                        <span class="">
                                                            了解更多
                                                            <span class="right-icon">
                                                                <svg class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                                    <path class="" fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z">
                                                                    </path>
                                                                </svg>
                                                            </span>
                                                        </span>
                                                    </button>
                                                </a>
                                            </div>*@
                                    </div>
                                </div>

                                @*<div class="el-col el-col-24 el-col-sm-24 el-col-md-12 AboutImg">
                                        <img src="/site/img/about_img_1.3170f29f.jpg" id="HomePic" alt="about tiss">
                                    </div>*@
                                @*@{
                                        if (Session["LoggedIn"] != null && (bool)Session["LoggedIn"])
                                        {
                                            <div class="btn-container">
                                                <input type="file" id="uploadImageInput" style="display:none;" accept="image/*">
                                                <button class="btn btn-outline-primary" onclick="changeImg('HomePic')">新增圖片</button>
                                                <button class="btn btn-outline-success" onclick="saveContent()">儲存</button>
                                            </div>
                                        }
                                    }*@
                            </div>
                        </div>
                    </div>
                    <div id="news" class="SectionNews">
                        <div class="container">
                            <div class="el-row" style="margin-left: -27.5px; margin-right: -27.5px;">
                                <div class="el-col el-col-12 is-guttered d-none d-lg-block" style="padding-right: 27.5px; padding-left: 27.5px;">
                                    <div class="SectionHeader">
                                        <div class="Title">
                                            <div class="SectionTitle">News</div>
                                            <div class="SectionSubTitle">
                                                <img class="icon" src="/site/img/title_icon.64a1ea61.svg" alt="運動科學中心圖標">最新消息
                                            </div>
                                        </div>
                                    </div>
                                    <a id="latestArticleLink" href="@Url.Action("ViewArticle", "Tiss", new { encryptedUrl = Model.LatestArticle.EncryptedUrl })" class="">
                                        <div class="NewsItemBox headline">
                                            <div class="NewsItemImg">
                                                @if (Model.LatestArticle.ImageContent != null)
                                                {
                                                    string base64Image = Convert.ToBase64String(Model.LatestArticle.ImageContent);
                                                    <img src="data:image/png;base64,@base64Image" alt="圖片" />
                                                }
                                                <div class="tag">@Model.LatestArticle.ContentType</div>
                                                <div class="Mask">閱讀更多</div>
                                            </div>
                                            <span class="el-text is-line-clamp NewsItemTitle" style="-webkit-line-clamp: 2;">@Model.LatestArticle.Title</span>
                                            <div class="NewsItemContent">
                                                <span class="el-text is-line-clamp" style="-webkit-line-clamp: 2;">@Model.LatestArticle.BodyContent</span>
                                            </div>
                                            <div class="NewsItemInfo">
                                                <span class="el-tag el-tag--plain is-round">
                                                    <span class="el-tag__content">@Model.LatestArticle.Hashtags</span>
                                                </span>
                                                <span>@Model.LatestArticle.PublishedDate</span>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="mt-5" style="width: 225px;">
                                        <a href="/Tiss/announcement" aria-disabled="false" type="button" class="el-button BaseBtn w-100 black" aria-label="btn">
                                            <span class="">
                                                全部文章
                                                <span class="right-icon">
                                                    <svg class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                        <path class="" fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z">
                                                        </path>
                                                    </svg>
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="el-col el-col-24 el-col-xs-24 el-col-md-12 is-guttered" style="padding-right: 27.5px; padding-left: 27.5px;">
                                    <div class="SectionHeader">
                                        <div class="Title">
                                            <div class="d-block d-lg-none">
                                                <div class="SectionTitle">News</div>
                                                <div class="SectionSubTitle">
                                                    <img class="icon" src="/site/img/title_icon.64a1ea61.svg" alt="運動科學中心圖標">最新消息
                                                </div>
                                            </div>
                                            <div class="el-row" style="margin-left: -10px; margin-right: -10px; margin-top: 30px;">
                                                <div class="el-row" style="margin-left: -10px; margin-right: -10px; margin-top: 30px;">

                                                    <div class="el-col el-col-24 el-col-xs-12 el-col-md-6 is-guttered" style="padding-right: 10px; padding-left: 10px;">
                                                        <button data-content-type-id="0" aria-disabled="false" type="button" class="category-button el-button is-round w-100 news-category all-category-btn" aria-label="btn">
                                                            <span class="">所有類別</span>
                                                        </button>
                                                    </div>
                                                    <div class="el-col el-col-24 el-col-xs-12 el-col-md-6 is-guttered" style="padding-right: 10px; padding-left: 10px;">
                                                        <button data-content-type-id="1" aria-disabled="false" type="button" class="category-button el-button is-round w-100 news-category all-category-btn" aria-label="btn">
                                                            <span class="">新聞發佈</span>
                                                        </button>
                                                    </div>
                                                    <div class="el-col el-col-24 el-col-xs-12 el-col-md-6 is-guttered" style="padding-right: 10px; padding-left: 10px;">
                                                        <button data-content-type-id="2" aria-disabled="false" type="button" class="category-button el-button is-round w-100 news-category all-category-btn" aria-label="btn">
                                                            <span class="">中心訊息</span>
                                                        </button>
                                                    </div>
                                                    <div class="el-col el-col-24 el-col-xs-12 el-col-md-6 is-guttered" style="padding-right: 10px; padding-left: 10px;">
                                                        <button data-content-type-id="8" aria-disabled="false" type="button" class="category-button el-button is-round w-100 news-category all-category-btn" aria-label="btn">
                                                            <span class="">徵才招募</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="articleContainer">
                                        @foreach (var article in Model.OtherArticles)
                                        {
                                            <div class="col-md-6 mb-4">
                                                <a href="@Url.Action("ViewArticle", "Tiss", new { encryptedUrl = article.EncryptedUrl })" class="">
                                                    <div class="NewsItemBox">
                                                        <div class="NewsItemImg">
                                                            @if (article.ImageContent != null)
                                                            {
                                                                string base64Image = Convert.ToBase64String(article.ImageContent);
                                                                <img src="data:image/png;base64,@base64Image" alt="圖片" />
                                                            }
                                                            <div class="tag">@article.ContentType</div>
                                                            <div class="Mask">閱讀更多</div>
                                                        </div>
                                                        <span class="el-text is-line-clamp NewsItemTitle">@article.Title</span>
                                                        <div class="NewsItemContent">
                                                            <span class="el-text is-line-clamp">@article.BodyContent</span>
                                                        </div>
                                                        <div class="el-tag el-tag--plain is-round">
                                                            <div class="el-tag__content">@article.Hashtags</div>
                                                        </div>
                                                        <div class="el-tag el-tag--plain is-round">
                                                            <span>@article.PublishedDate</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="video" class="SectionVideo">
                        <div class="container">
                            <div class="SectionHeader">
                                <div class="Title">
                                    <div class="SectionTitle">Video</div>
                                    <div class="SectionSubTitle">
                                        <img class="icon" src="/site/img/title_icon.64a1ea61.svg" alt="運動科學中心圖標">影音專區
                                    </div>
                                </div>
                            </div>
                            <div class="d-none d-lg-block">
                                <div class="VideoCarousel">
                                    <div class="el-row" style="margin-left: -12px; margin-right: -12px;">
                                        <div class="el-col el-col-12 is-guttered" style="padding-right: 12px; padding-left: 12px;">

                                            @*影片文字內容*@
                                            @*<div class="carousel-article-column">

                        @foreach (var idt in  Model.OtherArticles)
                        {
                            <div class="carousel-item article-item" style="display: none;">
                                <a href="/video/@Model..idt.EncryptedUrl" class="carousel-article-link">
                                    <div class="VideoCarouselContent">
                                        <div class="VideoCarouselContentBox">
                                            <div class="Tag">
                                                <span>中心成果</span>
                                            </div>
                                            <span class="el-text is-line-clamp Title" style="-webkit-line-clamp: 2;">@Model.LatestArticle.Title</span>
                                            <span class="el-text is-line-clamp Content" style="-webkit-line-clamp: 3;">@Model.LatestArticle.BodyContent</span>
                                            <div class="Info">
                                                <span class="el-tag el-tag--plain is-round">
                                                    <span class="el-tag__content">人物專訪</span>
                                                </span>
                                                <span>@Model.LatestArticle.PublishedDate</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>*@
                                            <div class="carousel-article-column">
                                                @for (var i = 0; i < Model.OtherArticles.Count; i++)
                                                {
                                                    <div class="carousel-item article-item" style="display: none;">
                                                        <a href="/video/@Model.Videos[i].EncryptedUrl" class="carousel-article-link">
                                                            <div class="VideoCarouselContent">
                                                                <div class="VideoCarouselContentBox">
                                                                    <div class="Tag">
                                                                        <span>中心成果</span>
                                                                    </div>
                                                                    <span class="el-text is-line-clamp Title" style="-webkit-line-clamp: 2;">@Model.Videos[i].Title</span>
                                                                    <span class="el-text is-line-clamp Content" style="-webkit-line-clamp: 3;">@Model.Videos[i].BodyContent</span>
                                                                    <div class="Info">
                                                                        <span class="el-tag el-tag--plain is-round">
                                                                            <span class="el-tag__content">人物專訪</span>
                                                                        </span>
                                                                        <span>@Model.Videos[i].PublishedDate</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        @*影片文字內容*@

                                        @*影片內容*@
                                        @*<div class="el-col el-col-12 is-guttered" style="padding-right: 12px; padding-left: 12px;">
                    <div class="VideoCarouselVideo">
                        <div class="VideoCarouselVideoBox">
                            <div class="carousel-video-column">
                                <div id="video-container" style="position: relative; width: 100%; height: 0; padding-bottom: 56.25%;">
                                    @foreach (var video in Model.Videos)
                                    {
                                        <div class="video-item" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                                            @Html.Raw(video.VideoIframe)
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
                                        <div class="el-col el-col-12 is-guttered" style="padding-right: 12px; padding-left: 12px;">
                                            <div class="VideoCarouselVideo">
                                                <div class="VideoCarouselVideoBox">
                                                    <div class="carousel-video-column">
                                                        <div id="video-container" style="position: relative; width: 100%; height: 0; padding-bottom: 56.25%;">
                                                            @foreach (var video in Model.Videos)
                                                            {
                                                                <div class="video-item" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                                                                    @Html.Raw(video.VideoIframe)
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*影片內容*@
                            </div>
                                </div>
                                <div class="BottomRow">
                                    <div style="width: 225px; margin: auto;">
                                        <a href="/Tiss/video" aria-disabled="false" type="button" class="el-button BaseBtn w-100 white" aria-label="btn">
                                            <span class="">
                                                所有影音
                                                <span class="right-icon">
                                                    <svg class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                        <path class="" fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z">
                                                        </path>
                                                    </svg>
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="links" class="SectionLinks">
                        <div class="container">
                            <div class="SectionHeader">
                                <div class="Title">
                                    <div class="SectionTitle">Links</div>
                                    <div class="SectionSubTitle">
                                        <img class="icon" src="/site/img/title_icon.64a1ea61.svg" alt="運動科學中心圖標">常用連結
                                    </div>
                                </div>
                            </div>
                            <div class="SectionLinksList">
                                <div class="el-carousel el-carousel--horizontal d-none d-md-block">
                                    <div class="el-carousel__container" style="height: 200px; overflow: hidden;">
                                        <div class="el-carousel__item is-active is-animating" style="transform: translateX(0px) scale(1); height: 200px;">
                                            <div class="SectionLinksItem">
                                                <div class="el-row" style="margin-left: -10px; margin-right: -10px;">
                                                    <div class="el-col el-col-24 el-col-xs-12 el-col-sm-6 is-guttered linksItem" style="padding-right: 10px; padding-left: 10px;">
                                                        <a href="https://www.sa.gov.tw/">
                                                            <img src="/site/img/links_logo.b6ae967e.svg" alt="教育部體育署">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="el-carousel__indicators el-carousel__indicators--horizontal">
                                        <li class="el-carousel__indicator el-carousel__indicator--horizontal is-active">
                                            <button class="el-carousel__button" aria-label="btn"></button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="el-carousel el-carousel--horizontal d-block d-md-none">
                                    <div class="el-carousel__container" style="height: 0px; overflow: hidden;">
                                        <button type="button" class="el-carousel__arrow el-carousel__arrow--left" aria-label="btn" style="display: none;">
                                            <i class="el-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                                    <path fill="currentColor" d="M609.408 149.376 277.76 489.6a32 32 0 0 0 0 44.672l331.648 340.352a29.12 29.12 0 0 0 41.728 0 30.592 30.592 0 0 0 0-42.752L339.264 511.936l311.872-319.872a30.592 30.592 0 0 0 0-42.688 29.12 29.12 0 0 0-41.728 0z">
                                                    </path>
                                                </svg>
                                            </i>
                                        </button>
                                        <button type="button" class="el-carousel__arrow el-carousel__arrow--right" aria-label="btn" style="display: none;">
                                            <i class="el-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                                    <path fill="currentColor" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512 340.864 831.872a30.592 30.592 0 0 0 0 42.752 29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z">
                                                    </path>
                                                </svg>
                                            </i>
                                        </button>
                                        <div class="el-carousel__item is-active is-animating" style="transform: translateX(0px) scale(1); height: 70px;">
                                            <div class="SectionLinksItem">
                                                <div class="el-row" style="margin-left: -10px; margin-right: -10px;">
                                                    <div class="el-col el-col-24 el-col-xs-12 el-col-sm-6 is-guttered linksItem" style="padding-right: 10px; padding-left: 10px;">
                                                        <a href="https://www.sa.gov.tw/">
                                                            <img src="/site/img/links_logo.b6ae967e.svg" alt="教育部體育署">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="el-carousel__indicators el-carousel__indicators--horizontal">
                                        <li class="el-carousel__indicator el-carousel__indicator--horizontal is-active">
                                            <button class="el-carousel__button" aria-label="btn"></button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
            $(document).ready(function () {
                var isLoggedIn = '@Session["LoggedIn"]' == 'True';

                if (isLoggedIn) {
                    $('#logoutBtn').show(); // 顯示登出按鈕
                } else {
                    $('#loginBtn').show(); // 顯示登入按鈕
                }

                if (window.location.pathname === '/Tiss/Home') {
                    $('#adminUser').hide(); // 隱藏管理者按鈕
                }
            });
        document.addEventListener("DOMContentLoaded", function () {
            // 檢查當前頁面是否為首頁
            if (window.location.pathname === "/Home") {
                // 隱藏元素
                document.getElementById("adminUser").style.display = "none";
            }
        });

    $('#carouselExample').carousel({
        interval: 5000 // 5秒輪播圖
    });

//Partial View控制
$('.category-button').click(function() {
                var contentTypeId = $(this).data('content-type-id');

                $.ajax({
                    url: '@Url.Action("GetArticles", "Tiss")',
                    type: 'GET',
                    data: { contentTypeId: contentTypeId },
                    success: function (data) {
                        $('#articleContainer').empty();
                        $('#articleContainer').append(data);
                    },
                    error: function(xhr, status, error) {
                        console.error("讀取錯誤: " + status + error);
                    }
                });
});

//影片輪播
        document.addEventListener('DOMContentLoaded', function () {
            var videoItems = document.querySelectorAll('.carousel-video-column .video-item');
            var articleItems = document.querySelectorAll('.carousel-article-column .article-item');
            var currentIndex = 0;
            var intervalId;

            function showItem(index) {
                //隱藏所有項目
                videoItems.forEach(item => item.style.display = 'none');
                articleItems.forEach(item => item.style.display = 'none');

                //顯示當前項目
                if (videoItems[index]) videoItems[index].style.display = 'block';
                if (articleItems[index]) articleItems[index].style.display = 'block';
            }

            function nextItem() {
                currentIndex = (currentIndex + 1) % videoItems.length;
                showItem(currentIndex);
            }

            function startCarousel() {
                intervalId = setInterval(nextItem, 10000);
            }

            function stopCarousel() {
                clearInterval(intervalId);
            }

            // 初始顯示第一個影片
            showItem(currentIndex);
            startCarousel();

            // 為所有 video 標籤添加事件監聽
            videoItems.forEach(item => {
                var videoElement = item.querySelector('video');
                if (videoElement) {
                    videoElement.addEventListener('play', stopCarousel);
                    videoElement.addEventListener('pause', startCarousel);
                    videoElement.addEventListener('ended', startCarousel); // 當影片結束時重新開始輪播
                }
            });
        });
</script>
</body>
</html>