@model TISS_Web.Models.HomeViewModel
@{
    Layout = "~/Views/Shared/_TissMaster.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/site/css/SectionTitleStyle.css" rel="stylesheet" />
</head>
<body>
    <div id="app" data-v-app="" class="text-content">
        <div data-v-339da53a="" class="layout">
            <div data-v-339da53a="" class="container-fluid px-0 mt-header">
                <div data-v-339da53a-s="" class="Home">
                    <header class="SectionBanner">
                        <h1 class="sr-only" style="color:red">國家運動科學中心</h1>
                        @*輪播圖*@
                        <div id="carouselExample" class="carousel slide" data-ride="carousel" style="height: 520px;">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/site/img/about_banner_1.cb027849.jpg" class="d-block w-100" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <div class="d-flex justify-content-center">
                                        <img src="~/storage/media/ORS(1).jpg" alt="選手服務預約系統" />
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="d-flex justify-content-center">
                                        <img src="~/storage/media/MOU簽署-合作學校(1).jpg" alt="MOU簽署" />
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="d-flex justify-content-center">
                                        <img src="~/storage/media/商品照1.jpg" alt="運科中心的運動補給品" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="banner-text">
                                <h1 class="main-title">國家運動科學中心</h1>
                                <p class="content">推動運動科學研究及應用<br>提升國際競技水準與運動產業競爭力</p>
                            </div>*@
                    </header>
                    <section id="about" class="SectionAbout" aria-labelledby="about-title">
                        <div class="container">
                            <h2 id="about-title" class="sr-only" style="color:red">關於國家運動科學中心</h2>
                            <div class="el-row row-reverse">
                                <div class="el-col el-col-24 el-col-sm-24 el-col-md-12">
                                    <div class="Content">
                                        @* 內容區塊 *@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    @*中央內容區塊*@
                    <section id="C">
                        <div id="news" class="SectionNews">
                            <div class="container" id="main_content">
                                <a href="#Ca" title="中央內容區塊" accesskey="C" name="C" id="jump-to-Ca" class="alt-c">:::</a>
                                <div class="el-row" style="margin-left: -27.5px; margin-right: -27.5px;">
                                    <div class="el-col el-col-12 is-guttered d-none d-lg-block" style="padding-right: 27.5px; padding-left: 27.5px;">
                                        <header class="SectionHeader">
                                            <h2 id="news-title" class="SectionTitle" title="News">News</h2>
                                            <div class="SectionSubTitle">
                                                <img class="icon" src="/site/img/title_icon.64a1ea61.svg" alt="" />最新消息
                                            </div>
                                        </header>
                                        <a id="latestArticleLink" href="@Url.Action("ViewArticle", "Tiss", new { encryptedUrl = Model.LatestArticle.EncryptedUrl })" title="閱讀更多關於 @Model.LatestArticle.Title">
                                            <div class="NewsItemBox headline">
                                                <div class="NewsItemImg">
                                                    @if (Model.LatestArticle.ImageContent != null)
                                                    {
                                                        string base64Image = Convert.ToBase64String(Model.LatestArticle.ImageContent);
                                                        <img src="data:image/png;base64,@base64Image" alt="圖片" tabindex="0" />
                                                    }
                                                    <div class="tag">@Model.LatestArticle.ContentType</div>
                                                    <div class="Mask">閱讀更多</div>
                                                </div>
                                                <span class="el-text is-line-clamp NewsItemTitle" style="-webkit-line-clamp: 2;">@Model.LatestArticle.Title</span>
                                                <div class="NewsItemContent">
                                                    <span class="el-text is-line-clamp" style="-webkit-line-clamp: 2;">@Model.LatestArticle.BodyContent</span>
                                                </div>
                                                <div class="NewsItemInfo">
                                                    <span class="el-tag el-tag--plain is-round">
                                                        <span class="el-tag__content">@Model.LatestArticle.Hashtags</span>
                                                    </span>
                                                    <span>@Model.LatestArticle.PublishedDate.ToString("yyyy-MM-dd")</span>
                                                </div>
                                            </div>
                                        </a>
                                        <div style="width: 225px; margin-top:30px;">
                                            <a href="/Tiss/announcement" aria-disabled="false" type="button" class="el-button BaseBtn w-100 black" aria-label="全部文章">
                                                <span title="全部文章">
                                                    全部文章
                                                    <span class="right-icon">
                                                        <svg class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                            <path class="" fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z">
                                                            </path>
                                                        </svg>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="el-col el-col-24 el-col-xs-24 el-col-md-12 is-guttered" style="padding-right: 27.5px; padding-left: 27.5px;">
                                        <header class="SectionHeader">
                                            <div class="Title">
                                                <div class="d-block d-lg-none">
                                                    <h2 class="SectionTitle" title="News">News</h2>
                                                    <div class="SectionSubTitle">
                                                        <img class="icon" src="/site/img/title_icon.64a1ea61.svg" alt="" />最新消息
                                                    </div>
                                                </div>
                                                <div class="el-row" style="margin-left: -10px; margin-right: -10px; margin-top: 30px;">
                                                    <div class="el-row" style="margin-left: -10px; margin-right: -10px; margin-top: 30px;">

                                                        <div class="el-col el-col-24 el-col-xs-12 el-col-md-6 is-guttered" style="padding-right: 10px; padding-left: 10px;">
                                                            <button role="tab" data-content-type-id="0" aria-disabled="false" type="button" class="category-button el-button is-round w-100 news-category all-category-btn" aria-label="所有類別">
                                                                <span class="" title="所有類別">所有類別</span>
                                                            </button>
                                                        </div>
                                                        <div class="el-col el-col-24 el-col-xs-12 el-col-md-6 is-guttered" style="padding-right: 10px; padding-left: 10px;">
                                                            <button data-content-type-id="1" aria-disabled="false" type="button" class="category-button el-button is-round w-100 news-category all-category-btn" aria-label="新聞發佈">
                                                                <span class="" title="新聞發佈">新聞發佈</span>
                                                            </button>
                                                        </div>
                                                        <div class="el-col el-col-24 el-col-xs-12 el-col-md-6 is-guttered" style="padding-right: 10px; padding-left: 10px;">
                                                            <button data-content-type-id="2" aria-disabled="false" type="button" class="category-button el-button is-round w-100 news-category all-category-btn" aria-label="中心訊息">
                                                                <span class="" title="中心訊息">中心訊息</span>
                                                            </button>
                                                        </div>
                                                        <div class="el-col el-col-24 el-col-xs-12 el-col-md-6 is-guttered" style="padding-right: 10px; padding-left: 10px;">
                                                            <button data-content-type-id="8" aria-disabled="false" type="button" class="category-button el-button is-round w-100 news-category all-category-btn" aria-label="徵才招募">
                                                                <span class="" title="徵才招募">徵才招募</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </header>

                                        <div class="row" id="articleContainer" aria-live="polite">
                                            @foreach (var article in Model.OtherArticles)
                                            {
                                                <div class="col-md-6 mb-4">
                                                    <a href="@Url.Action("ViewArticle", "Tiss", new { encryptedUrl = article.EncryptedUrl })" class="">
                                                        <div class="NewsItemBox">
                                                            <div class="NewsItemImg">
                                                                @if (article.ImageContent != null)
                                                                {
                                                                    string base64Image = Convert.ToBase64String(article.ImageContent);
                                                                    <img src="data:image/png;base64,@base64Image" alt="圖片" tabindex="0" />
                                                                }
                                                                <div class="tag">@article.ContentType</div>
                                                                <div class="Mask" title="@article.Title">閱讀更多</div>
                                                            </div>
                                                            <span class="el-text is-line-clamp NewsItemTitle">@article.Title</span>
                                                            <div class="NewsItemContent">
                                                                <span class="el-text is-line-clamp">@article.BodyContent</span>
                                                            </div>
                                                            <div class="NewsItemInfo">
                                                                <div class="NewsItemTags">
                                                                    <div class="el-tag el-tag--plain is-round">
                                                                        <div class="el-tag__content">@article.Hashtags</div>
                                                                    </div>
                                                                    <span>@article.PublishedDate.ToString("yyyy-MM-dd")</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    @*影音專區*@
                    <section id="video" class="SectionVideo">
                        <div class="container">
                            <header class="SectionHeader">
                                <div class="Title">
                                    <h2 id="video-title" class="SectionTitle" title="Video">Video</h2>
                                    <div class="SectionSubTitle">
                                        <img class="icon" src="/site/img/title_icon.64a1ea61.svg" alt="" />影音專區
                                    </div>
                                </div>
                            </header>
                            <div class="d-none d-lg-block">
                                <div class="VideoCarousel">
                                    <!-- 這裡調用 TissController.GetHomeVideos 的部分視圖 -->
                                    @Html.Action("GetHomeVideos", "Tiss")
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            @*常用連結*@
            <section id="links" class="SectionLinks">
                <div class="container">
                    <header class="SectionHeader">
                        <div class="Title">
                            <h2 id="links-title" class="SectionTitle" title="Links">Links</h2>
                            <div class="SectionSubTitle">
                                <img class="icon" src="/site/img/title_icon.64a1ea61.svg" alt="" />常用連結
                            </div>
                        </div>
                    </header>
                    <div class="SectionLinksList">
                        <div class="row">
                            <div class="col-6 col-md-4 mb-3 text-center">
                                <a class="SectionUrl" href="https://www.sa.gov.tw/" title="教育部體育署網站 (另開新視窗)" target="_blank">
                                    <img src="~/site/img/教育部體育署網站圖片.jpg" alt="教育部體育署網站" tabindex="-1" class="resize-image spacing" />
                                </a>
                            </div>

                            <div class="col-6 col-md-4 mb-3 text-center">
                                <a class="SectionUrl" href="https://www.sportscience.com.tw/" title="運動科學網站 (另開新視窗)" target="_blank">
                                    <img src="~/site/img/運動科學網站.jpg" alt="運動科學網站" tabindex="-1" class="resize-image spacing" />
                                </a>
                            </div>

                            <div class="col-6 col-md-4 mb-3 text-center">
                                <a class="SectionUrl" href="http://www.epsport.net/epsport/ep/index.asp" title="運動生理學網站 (另開新視窗)" target="_blank">
                                    <img src="~/site/img/運動生理學網站.jpg" alt="運動生理學網站" tabindex="-1" class="resize-image spacing" />
                                </a>
                            </div>

                            <div class="col-6 col-md-4 mb-3 text-center">
                                <a class="SectionUrl" href="https://www.facebook.com/p/%E5%9C%8B%E5%AE%B6%E9%81%8B%E5%8B%95%E7%A7%91%E5%AD%B8%E4%B8%AD%E5%BF%83Taiwan-Institute-of-Sports-Science-61553673834147/?locale=zh_TW" title="國家運動科學中心FB (另開新視窗)" target="_blank">
                                    <img src="~/Img/facebook2.png" alt="國家運動科學中心FB網站" tabindex="-1" class="spacing" />
                                    <span class="d-block mt-2">TISS FACEBOOK</span>
                                </a>
                            </div>

                            <div class="col-6 col-md-4 mb-3 text-center">
                                <a class="SectionUrl" href="https://www.instagram.com/tiss_2024/" title="國家運動科學中心IG網站 (另開新視窗)" target="_blank">
                                    <img src="~/Img/IG圖片.png" alt="國家運動科學中心IG網站" tabindex="-1" class="spacing" />
                                    <span class="d-block mt-2">TISS INSTAGRAM</span>
                                </a>
                            </div>

                            <div class="col-6 col-md-4 mb-3 text-center">
                                <a class="SectionUrl" href="https://www.youtube.com/%40TISS_2024" title="國家運動科學中心YouTube (另開新視窗)" target="_blank">
                                    <img src="~/Img/youtube2.png" alt="國家運動科學中心YouTube網站" tabindex="-1" class="spacing" />
                                    <span class="d-block mt-2">TISS YOUTUBE</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <script>
        $(document).ready(function () {
    var isLoggedIn = '@Session["LoggedIn"]' === 'True';

    if (isLoggedIn) {
        $('#logoutBtn').show(); // 顯示登出按鈕
    } else {
        $('#loginBtn').show(); // 顯示登入按鈕
    }

    if (window.location.pathname === '/Tiss/Home') {
        $('#adminUser').hide(); // 隱藏管理者按鈕
    }
});

document.addEventListener("DOMContentLoaded", function () {
    // 檢查當前頁面是否為首頁
    if (window.location.pathname === "/Home") {
        // 隱藏元素
        document.getElementById("adminUser").style.display = "none";
    }
});

//$('#carouselExample').carousel({
//    interval: 10000 // 10秒輪播圖
//});

// Partial View控制
$('.category-button').click(function () {
    var contentTypeId = $(this).data('content-type-id');

    // 更新被選取的按鈕的 aria-selected 屬性
    $('.category-button').attr('aria-selected', 'false');
    $(this).attr('aria-selected', 'true');

    $.ajax({
        url: '/Tiss/GetArticles',
        type: 'GET',
        data: { contentTypeId: contentTypeId },
        success: function (data) {
            $('#articleContainer').empty();
            $('#articleContainer').append(data);
            $('#articleContainer').focus(); // 將焦點移到更新後的內容
        },
        error: function (xhr, status, error) {
            console.error("讀取錯誤: " + status + " " + error);
        }
    });
});

// 影片左右跳轉
document.addEventListener('DOMContentLoaded', function () {
    var videoItems = document.querySelectorAll('.carousel-video-column .video-item');
    var articleItems = document.querySelectorAll('.carousel-article-column .article-item');
    var currentIndex = 0;

    function showItem(index) {
        videoItems.forEach(item => item.style.display = 'none');
        articleItems.forEach(item => item.style.display = 'none');

        if (videoItems[index]) videoItems[index].style.display = 'block';
        if (articleItems[index]) articleItems[index].style.display = 'block';
    }

    function showPrevious() {
        currentIndex = (currentIndex - 1 + videoItems.length) % videoItems.length;
        showItem(currentIndex);
    }

    function showNext() {
        currentIndex = (currentIndex + 1) % videoItems.length;
        showItem(currentIndex);
    }

    // 初始顯示第一個影片
    showItem(currentIndex);

    // 取得按鍵並添加事件處理程序
    var leftButton = document.querySelector('.ArrowBtn.Left');
    var rightButton = document.querySelector('.ArrowBtn.Right');

    if (leftButton) {
        leftButton.addEventListener('click', showPrevious);
    }

    if (rightButton) {
        rightButton.addEventListener('click', showNext);
    }
});
    </script>
</body>
</html>