@model IEnumerable<TISS_Web.Models.ArticleContentModel>
@{
    Layout = "~/Views/Shared/_TissMaster.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/site/css/MenuLinkStyle.css" rel="stylesheet" />
    <link href="~/site/css/ViewArticle.css" rel="stylesheet" />
</head>
<body>
    <div id="fb-root"></div>
    <div id="app" data-v-app="">
        <div data-v-339da53a="" class="layout">
            <div data-v-339da53a="" class="container-fluid px-0 mt-header">
                <div data-v-339da53a-s="" class="BasePageLayout">
                    <div class="BasePageBanner">
                        <div class="Mask">
                        </div>
                        <img class="PageBannerItemBg d-none d-lg-block" src="/site/img/banner_research.25875290.jpg" alt="科普專欄封面照片" title="科普專欄封面照片">
                        @*<img class="PageBannerItemBg d-block d-lg-none" src="/site/img/banner_research_m.3413fe57.jpg" alt="">*@
                        <div class="container">
                            <div class="Title">
                                <div class="BannerTitle" title="Popular Science">
                                    Popular Science
                                </div>
                                <div class="BannerSubTitle">
                                    <img class="icon" src="/site/img/title_icon_white.5e98ec4e.svg" alt="科普專欄" title="科普專欄">科普專欄
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="el-container">
                        <aside class="el-aside" style="">
                            <div class="BaseBreadcrumb d-block d-lg-none">
                                <div class="container">
                                    <div class="el-breadcrumb" aria-label="Breadcrumb" role="navigation">
                                        <span class="el-breadcrumb__item">
                                            <a class="el-breadcrumb__inner is-link" role="link" href="/Tiss/Home" title="首頁">首頁</a>
                                            <i class="el-icon el-breadcrumb__separator">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                                    <path fill="currentColor" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512 340.864 831.872a30.592 30.592 0 0 0 0 42.752 29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z">
                                                    </path>
                                                </svg>
                                            </i>
                                        </span>
                                        <span class="el-breadcrumb__item" aria-current="page">
                                            <span class="el-breadcrumb__inner" role="link" title="科普專欄">科普專欄</span>
                                            <i class="el-icon el-breadcrumb__separator">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                                    <path fill="currentColor" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512 340.864 831.872a30.592 30.592 0 0 0 0 42.752 29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z">
                                                    </path>
                                                </svg>
                                            </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="Title" title="科普專欄">科普專欄</div>
                                <ul class="Menu">
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/research" title="全部文章">全部文章</a>
                                    </li>
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/sportMedicine" title="運動醫學">運動醫學</a>
                                    </li>
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/sportTech" title="運動科技">運動科技</a>
                                    </li>
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/sportScience" title="運動科學">運動科學</a>
                                    </li>
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/sportsPhysiology" title="運動生理">運動生理</a>
                                    </li>
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/sportsPsychology" title="運動心理">運動心理</a>
                                    </li>
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/physicalTraining" title="體能訓練">體能訓練</a>
                                    </li>
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/sportsNutrition" title="運動營養">運動營養</a>
                                    </li>
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/childrenScience" title="兒少科普">兒少科普</a>
                                    </li>
                                    @{
                                        if (Session["LoggedIn"] != null && (bool)Session["LoggedIn"])
                                        {
                                            <li span="3">
                                                <a class="MenuLink" href="/Tiss/ArticleCreate" style="color:orange" title="新增文章">新增文章</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </aside>
                        <main class="el-main bg-white">
                            <div class="MainContainer">
                                <div class="BaseBreadcrumb d-none d-lg-block">
                                    <div class="container">
                                        <div class="el-breadcrumb" aria-label="Breadcrumb" role="navigation">
                                            <span class="el-breadcrumb__item">
                                                <a class="el-breadcrumb__inner is-link" role="link" href="/Tiss/Home" title="首頁">首頁</a>
                                                <i class="el-icon el-breadcrumb__separator">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                                        <path fill="currentColor" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512 340.864 831.872a30.592 30.592 0 0 0 0 42.752 29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z">
                                                        </path>
                                                    </svg>
                                                </i>
                                            </span>
                                            <span class="el-breadcrumb__item" aria-current="page">
                                                <span class="el-breadcrumb__inner" role="link" title="科普專欄">科普專欄</span>
                                                <i class="el-icon el-breadcrumb__separator">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                                        <path fill="currentColor" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512 340.864 831.872a30.592 30.592 0 0 0 0 42.752 29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z">
                                                        </path>
                                                    </svg>
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="MainContainer">
                                <div class="NewsVideoList">
                                    <div class="container">
                                        <div class="row">
                                            @foreach (var article in Model)
                                            {
                                                <div class="col-md-4 mb-4">
                                                    <a href="@Url.Action("ViewArticle", "Tiss", new { encryptedUrl = article.EncryptedUrl })" class="">
                                                        <div class="NewsItemBox">
                                                            <div class="NewsItemImg">
                                                                @if (article.ImageContent != null)
                                                                {
                                                                    string base64Image = Convert.ToBase64String(article.ImageContent);
                                                                    <img src="data:image/png;base64,@base64Image" alt="圖片" />
                                                                }
                                                                <div class="tag">@article.ContentType</div>
                                                                <div class="Mask" title="閱讀更多">閱讀更多</div>
                                                            </div>
                                                            <span class="el-text is-line-clamp NewsItemTitle">@article.Title</span>
                                                            <div class="NewsItemContent">
                                                                <span class="el-text is-line-clamp">@article.BodyContent</span>
                                                            </div>
                                                        </div>
                                                        <div class="tag-date-container">
                                                            <div class="el-tag el-tag--plain is-round">
                                                                <div class="el-tag__content">@article.Hashtags</div>
                                                            </div>
                                                            <div class="date-tag">@article.FormattedCreateDate</div>
                                                        </div>
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="Pagination">
                                    <div class="container">
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination justify-content-center">
                                                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                                                {
                                                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                                        <a class="page-link" href="@Url.Action("sportTech", "Tiss", new { page = i })">@i</a>
                                                    </li>
                                                }
                                                <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                                                    <a class="page-link" href="@Url.Action("sportTech", "Tiss", new { page = ViewBag.CurrentPage - 1 })" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                                                    <a class="page-link" href="@Url.Action("sportTech", "Tiss", new { page = ViewBag.CurrentPage + 1 })" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </section>
                </div>
            </div>

        </div>
    </div>
    <script>
        //登出按鈕顯示功能
$(document).ready(function () {
    var isLoggedIn = '@Session["LoggedIn"]' == 'True';

if (isLoggedIn) {
    $('#logoutBtn').show(); //顯示登出按鈕
} else {
    $('#loginBtn').show(); //顯示登入按鈕
    }
        loadContent(); //加載已儲存的內容
});

        document.addEventListener('DOMContentLoaded', function () {
            var currentUrl = window.location.pathname;
            var menuLinks = document.querySelectorAll('.MenuLink');

            menuLinks.forEach(function (link) {

                if (link.getAttribute('href') === currentUrl) {
                    link.classList.add('active');
                }
            });
        });
    </script>
</body>
</html>