@model TISS_Web.Models.ArticleContent

@{
    Layout = "~/Views/Shared/_TissMaster.cshtml";
    var isLoggedIn = Session["LoggedIn"] != null && (bool)Session["LoggedIn"];
    var parentDirectory = ViewBag.ParentDirectory as string;
    var menuItems = ViewBag.ParentMenu as Dictionary<string, List<string>>;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Model.Title</title>
    <script src="~/bootstrap/js/bootstrap.js"></script>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    @*<script src="https://cdn.tiny.cloud/1/dnrbo5jub3ln0e23awgulturfk1e6nv5h6s4eh16ob30c6jn/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>*@
    <link href="~/site/css/hashTagStyle.css" rel="stylesheet" />
    <link href="~/site/css/ViewArticleBtnStyle.css" rel="stylesheet" />
    <style>
        .narrow-container {
    max-width: 800px; /* 根據需要調整這個值 */
    margin: 0 auto; /* 讓容器居中 */
}
    </style>
</head>
<body>
    <div data-v-339da53a="" class="layout">
        <div data-v-339da53a="" class="container-fluid px-0 mt-header">
            <div data-v-339da53a-s="" class="BasePageLayout">
                <div class="BasePageBanner">
                    <div class="Mask"></div>
                    <img class="PageBannerItemBg " src="/site/img/banner_research.25875290.jpg" alt="文章編輯封面圖片">
                </div>
                <section class="el-container">
                    <aside class="el-aside">
                        <div class="BaseBreadcrumb d-block d-lg-none">
                            <div class="container">
                                <div class="el-breadcrumb" aria-label="Breadcrumb" role="navigation">
                                    <span class="el-breadcrumb__item">
                                        <a class="el-breadcrumb__inner" role="link" style="color:black" href="/Tiss/Home">首頁</a>
                                        <i class="fa-solid el-breadcrumb__separator fa-greater-than fa-xs" style="color: #44afe4;"></i>
                                    </span>
                                    @if (ViewBag.ParentDirectory != null)
                                    {
                                        <span class="el-breadcrumb__item">
                                            <span class="el-breadcrumb__inner" role="link" style="color:black">@ViewBag.ParentDirectory</span>
                                            <i class="fa-solid el-breadcrumb__separator fa-greater-than fa-xs" style="color: #44afe4;"></i>
                                        </span>
                                    }
                                    <span class="el-breadcrumb__item current-page" aria-current="page">
                                        <span class="el-breadcrumb__inner" role="link" style="color:black">@Html.Raw(Model.Title)</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            @if (!string.IsNullOrEmpty(parentDirectory))
                            {
                                <div class="Title">@parentDirectory</div>
                                <ul class="Menu">
                                    @*@foreach (var item in menuItems[parentDirectory])
                                        {
                                            var url = ViewBag.MenuUrls.ContainsKey(item) ? ViewBag.MenuUrls[item] : "#"; // 根據 menuUrls 對應的 URL
                                            <li span="3">
                                                <a class="MenuLink" href="@url">@item</a>
                                            </li>
                                        }*@
                                    @foreach (var item in ViewBag.MenuUrls)
                                    {
                                        <li span="3">
                                            <a class="MenuLink" href="@item.Value">@item.Key</a>
                                        </li>
                                    }
                                    <!-- 顯示「全部文章」的連結 -->
                                    @*<li span="3">
                                            <a class="MenuLink" href="@ViewBag.AllArticlesUrl">全部文章</a>
                                        </li>*@

                                    @if (isLoggedIn)
                                    {
                                        <li span="3">
                                            <a class="MenuLink" href="/Tiss/ArticleCreate" style="color:orange">新增文章</a>
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                    </aside>
                    <main class="el-main bg-defaultO4">
                        <div class="MainContainer">
                            <div class="BaseBreadcrumb d-none d-lg-block">
                                <div class="container">
                                    <div class="el-breadcrumb" aria-label="Breadcrumb" role="navigation">
                                        <span class="el-breadcrumb__item">
                                            <a class="el-breadcrumb__inner" role="link" style="color:black" href="/Tiss/Home">首頁</a>
                                            <i class="fa-solid el-breadcrumb__separator fa-greater-than fa-xs" style="color: #44afe4;"></i>
                                        </span>
                                        @if (ViewBag.ParentDirectory != null)
                                        {
                                            <span class="el-breadcrumb__item">
                                                <span class="el-breadcrumb__inner" role="link" style="color:black">@ViewBag.ParentDirectory</span>
                                                <i class="fa-solid el-breadcrumb__separator fa-greater-than fa-xs" style="color: #44afe4;"></i>
                                            </span>
                                        }
                                        <span class="el-breadcrumb__item current-page" aria-current="page">
                                            <span class="el-breadcrumb__inner" role="link" style="color:black">@Html.Raw(Model.Title)</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="infoList">
                            <div class="container mt-5 ResearchPage narrow-container">
                                <div class="hashtags-link" style="text-align: left;">
                                    <p>
                                        <a href="@Url.Action("Redirecttag", "Tiss", new { tag = Model.Hashtags })" class="el-tag el-tag--plain is-round tag-link">
                                            <span class="el-tag__content"><i class="fa-solid fa-tag" style="color: #d841b7;"></i>@Model.Hashtags</span>
                                        </a>
                                    </p>
                                </div>
                                @if (isLoggedIn)
                                {
                                    <form method="post" action="@Url.Action("ViewArticle", "Tiss")">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="Id" value="@Model.Id" />
                                        <div class="form-group">
                                            <label for="ContentBody">內容:</label>
                                            <textarea id="ContentBody" name="ContentBody" class="form-control">@Model.ContentBody</textarea>
                                        </div>
                                        <input type="hidden" name="Id" value="@Model.Id" />
                                        <button type="submit" class="btn btn-primary mt-3">保存修改</button>
                                    </form>
                                }
                                else
                                {
                                    <div>
                                        @Html.Raw(Model.ContentBody)
                                    </div>
                                }
                                <p>發佈日期: @Model.PublishedDate</p>
                                @*<p>
                                        <a href="@Url.Action("Redirecttag", "Tiss", new { tag = Model.Hashtags })" class="el-tag el-tag--plain is-round tag-link">
                                            <span class="el-tag__content"><i class="fa-solid fa-tag" style="color: #d841b7;"></i>@Model.Hashtags</span>
                                        </a>
                                    </p>*@
                            </div>
                        </div>
                        <div class="comments-section">
                            <h3>留言區</h3>
                            @foreach (var comment in ViewBag.Comments)
                            {
                                <div class="comment">
                                    <p><strong>@comment.UserName</strong> 說：</p>
                                    <p>@comment.CommentText</p>
                                    <p class="text-muted">@comment.CommentDate</p>
                                </div>
                            }

                            <form action="@Url.Action("PostComment", "Tiss")" method="post">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="articleId" value="@ViewBag.ArticleId" />
                                <div class="form-group">
                                    <label for="userName">名稱:</label>
                                    <input type="text" id="userName" class="form-control" name="userName" required />
                                </div>
                                <div class="form-group">
                                    <label for="commentText">留言:</label>
                                    <textarea id="commentText" class="form-control" name="commentText" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">提交留言</button>
                            </form>
                        </div>
                    </main>
                </section>
            </div>
        </div>
    </div>

    <div class="navigation-buttons">
        @if (ViewBag.PreviousArticle != null)
        {
            <a href="@Url.Action("ViewArticle", "Tiss", new { encryptedUrl = ViewBag.PreviousArticle.EncryptedUrl })" class="btnStyle">上一篇</a>
        }
        @if (ViewBag.NextArticle != null)
        {
            <a href="@Url.Action("ViewArticle", "Tiss", new { encryptedUrl = ViewBag.NextArticle.EncryptedUrl })" class="btnStyle">下一篇</a>
        }
    </div>
    <p>點閱次數: @Model.ClickCount</p>
    <div class="ShareToolBar">
        <div class="ShareToolBarTitle">分享至:</div>
        <ul class="SocialList">
            <li>
                <button type="button" class="el-button is-circle" aria-label="分享至 Facebook">
                    <span>
                        <svg class="svg-inline--fa fa-facebook-f" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                            <path fill="currentColor" d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z">
                            </path>
                        </svg>
                    </span>
                </button>
            </li>
            <li>
                <button aria-disabled="false" type="button" class="el-button is-circle" aria-label="share-line">
                    <span class="">
                        <img src="/site/img/line_icon_black.2c46b360.svg" alt="line">
                    </span>
                </button>
            </li>
            <li>
                <button aria-disabled="false" type="button" class="el-button is-circle" aria-label="share-x">
                    <span class="">
                        <svg class="svg-inline--fa fa-x-twitter" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="x-twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path class="" fill="currentColor" d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z">
                            </path>
                        </svg>
                    </span>
                </button>
            </li>
        </ul>
    </div>
    @*<div class="social-share">
            <h5>分享至:</h5>
            <a href="https://www.facebook.com/sharer/sharer.php?u=@Url.Encode(Request.Url.AbsoluteUri)" target="_blank" class="btn btn-primary">
                <img src="~/fontawesome/facebook_icon.ico" width="32" alt="臉書圖示"/>Facebook
            </a>
            <a href="https://twitter.com/intent/tweet?url=@Url.Encode(Request.Url.AbsoluteUri)&text=@Url.Encode(Model.Title)" target="_blank" class="btn btn-info">
                <img src="~/fontawesome/twitter_icon.ico" width="32" alt="推特圖示"/> Twitter
            </a>
            <a href="https://line.me/R/msg/text/?@Url.Encode(Model.Title)%0A@Url.Encode(Request.Url.AbsoluteUri)" target="_blank" class="btn btn-success">
                <img src="~/fontawesome/line_icon.ico" width="32" alt="line圖示"/> Line
            </a>
        </div>*@
    @if (isLoggedIn)
    {
        <script>
            $(document).ready(function () {
    var isLoggedIn = '@Session["LoggedIn"]' == 'True';

if (isLoggedIn) {
    $('#logoutBtn').show(); //顯示登出按鈕
} else {
    $('#loginBtn').show(); //顯示登入按鈕
    }
        loadContent(); //加載已儲存的內容
            });

            document.addEventListener('DOMContentLoaded', function () {
                tinymce.init({
                    selector: '#ContentBody',
                    language: 'zh_TW',
                    plugins: [
                        'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
                        'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code', 'fullscreen', 'insertdatetime',
                        'media', 'table', 'emoticons', 'help'
                    ],
                    file_picker_callback: function (callback, value, meta) {
                        if (meta.filetype === 'image') {
                            var input = document.createElement('input');
                            input.setAttribute('type', 'file');
                            input.setAttribute('accept', 'image/*');
                            input.onchange = function () {
                                var file = this.files[0];
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    callback(e.target.result, { alt: file.name });
                                };
                                reader.readAsDataURL(file);
                            };
                            input.click();
                        }
                    },
                    ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
                });
            });
        </script>
    }
</body>
</html>